<!DOCTYPE html>
<html>

<head>
    <title>C.A.I. Admin</title>
</head>

<body>

    <h1>Computer-aided Instructions System in Mathematics for the Grade 1 Students of La Camelle School</h1>
    <a id="name">{{ name }}</a>
    <a id="position">{{ position }}</a>

    <button id="btnHome">Home</button>
    <button id="btnClassList">Class List</button>
    <button id="btnLesson">Lesson</button>
    <button id="btnQuiz">Quiz</button>
    <button id="btnExercise">Exercise</button>
    <button id="btnSections">Sections</button>
    <button id="btnReports">Reports</button>

    <button id="btnReports">Users</button>
    <button id="btnReports">Utilities</button>

</body>

</html>