asarPy==1.0.1
bcrypt==4.0.1
click==8.4.1
docxtpl==0.20.2
html5lib==1.1
Jinja2==3.1.6
lxml==6.1.1
Markdown==3.10.2
MarkupSafe==3.0.3
passlib==1.7.4
psycopg2-binary==2.9.11
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
python-docx==1.2.0
shiboken6==6.11.0
six==1.17.0
tqdm==4.68.1
typing_extensions==4.15.0
webencodings==0.5.1
